body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    
    padding: 0;
    
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url('ba.jpg');
}
img {
    align-items: end;
    border-radius: 50%;
  }
#name{
    color: rgba(99, 255, 190, 1);
    align-items: start;
    font-family: monospace;

}
  

header {
    background-color: #0e3f6919;
    color: white;
    padding: 1em 0;
    text-align: center;
}
.c{
    color: rgb(247, 132, 0); font-size: 14pt; font-family: Tahoma;
}
section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(195, 0, 255, 0.527);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.h12{
    color: rgba(99, 255, 190, 1);
    align-items: start;
    font-family: monospace;
    font-size: 16pt;
    border-left: 2px solid rgb(0, 255, 225);
    border-bottom: 2px solid rgb(0, 255, 225);
    border-radius: 5pt;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #000000;
    color: rgb(0, 232, 249);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
